.App {
    text-align: center;
  }
  .t{
    font-size: 2rem;
    color:#4f46e5;
    padding-left: 30rem;
    padding-top: 0.5rem;
    cursor: pointer;
  }
  .s{
    width:20%;
    height:2rem;
    margin-left: 10rem;
    margin-top: 0.8rem;
    
  }
  .i{
    height:2.8rem;
    width:5rem;
    margin-top: 0.5rem;
  }
  .App1{
   
    display:flex;
   
  }
  .b11{
    margin-top:1.3rem;
    width:1.8rem;
  }
  
  
  
  .i1{
    height:38rem;
    width:68rem;
  }
  .b{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height:10rem;
    width:70rem;
    background-color: #e2e8f0;
    margin:auto
  }
  .l{
    margin-top:1.5rem;
    margin-right:3rem;
    
  }
  select{
    border:none;
  }
  .App2{
    text-decoration: none;
    padding-left: 6rem;
    
  }

  .l > .App2:hover {
      color:red;
      cursor:pointer;
  }
  
  
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* .App1{
    @media only screen
  } */