/* *{
    padding: 0;
    margin: 0;
} */

.bag-main-div{
    
    width: 60%;
    margin: auto;

}
.bag-main-div-p{
    margin-top: 35px;
    font-size: 24px;
    font-weight: 400;
}
.bag-main-div-hr{
    margin-top: 10px;
    font-weight: 700;
    font-size: 24px;
    border-top: 1px solid black;
}

.bag-flex-div{
    

   padding: 20px 0px;
   
    text-align: center; 
}
.bag-but-div{
    display: flex;
    justify-content: space-between;
}
.bag-but-div-text{
    color: #333333;
    font-size: 1rem;
}
.bag-background-div1{
    background-color: #c9e3f7;
    padding: 0.6rem;
    margin-top: 0.6rem;
    
}
.bag-background-div2{
    background-color: #dad3d3;
    padding: 0.4rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    text-align: center;
    
}
.bag-table{
    width: 100%;
    border-collapse: collapse;
}
th{
    background-color: #dad3d3;
    padding: 0.5rem;
    
}

.update-bag{
    border: none;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 1.6rem;
    margin-left: 85%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.update-bag:hover{
    color: black;
    background-color: white;
}
.bag-coupan-div{
    display: flex;
    justify-content: space-between;
}
.bag-promotion-div{
    margin-top: 1.5rem;
    width: 33%;
    height: 7rem;
    line-height: 2rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.bag-input-box{
   height: 1.7rem ;
  float: left;

}

.bag-input-but{
    border: none;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    padding: 0.5rem 1.2rem;
    float: left;
}
.bag-calculation-flex-div{
    
    display: flex;
    color: #333333;
    font-size: 0.8rem;
    line-height: 2rem;
    padding: 0.7rem;
    
}
.bag-calculation-flex-text-div{
    padding-left: 0.7rem;
    font-size: 0.8rem;
    color: #333333;
    line-height: 1.4rem;
}

.bag-clculation-div{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #efeded;
    margin-top: 1.5rem;

}

.bag-but-img{
   width: 5rem;
   height: 1.1 rem;
}
.bag-but1{
     
     padding: 0.3rem 2rem;
    
     background-color: rgb(6247, 196, 71);
     border: none;
     border-radius: 3px;
     margin-right: 1rem;
    
}
.bag-check-but{
    
    padding: 0.8rem 1.2rem 0.5rem 2rem;
    background-color:green;
    border: none;
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
    
}
.paypel-but{
    margin-left: 1em;
    padding: 0.2rem 4rem 0.2rem 4rem;
}
.checkout-but{
    padding: 0.8rem 3.2rem 0.4rem 4rem;
}
.gift-box-but{
 margin-top: 1em;
}

.table-image{
    width: 20%;
}