.corosal-main-div{

    width: 70%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.corosal-sub-div{
    
    text-align: center;
    line-height: 1.2rem;
}
.corosal-img-div{

    width: 100%;
    height: 15rem;
  
}
.corosal-img{
 width: 70%;
  height: 95%;
  padding: 1rem;
}


.corosal-p1-div{
    color: #666666; 
    font-size: 0.8rem;
}
.corosal-p2-div{
    color: #666666; 
    font-size: 0.9rem;
}
.corosal-p3-div{
    color:red; 
    font-size: 0.8rem;
}



